:root{
    --mainBackground:hsl(233, 47%, 7%);
    --cardBackground:hsl(244, 38%, 16%);
    --accent:hsl(277, 64%, 61%);
    --mainHeadSta:hsl(0, 0%, 100%);
    --mainParagraph:hsla(0, 0%, 100%, 0.75);
    --statHeading:hsla(0, 0%, 100%, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: var(--mainBackground);
    font-family: 'Inter', sans-serif;
}
main{
    width: 80%;
}
.card{
    background-color: var(--cardBackground);
    max-width: 1000px;
    height: auto;
}
.card .img::before{
    background-color:hsla(277, 64%, 61%, 0.479);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.img img{
    object-fit: cover;
}
.card .card-title h5{
    color: var(--mainHeadSta)!important;
}
h1, h2{
    color: var(--mainHeadSta)!important;
}
h1{
    font-size: 2rem!important;
}
.card-body{
    padding: 4rem 6rem 2rem 4rem!important;
    background-color: var(--cardBackground);
    position: relative;
    z-index: 1;
}
@media(max-width:768px){
    .card-body{
        height: auto!important;
    }
} 
.card-body p{
    margin-bottom: 4rem;
}
p{
    color: var(--mainParagraph)!important;
    font-family: 'Lexend Deca', sans-serif;
}
p.card-text{
    font-size: 14px;
    line-height: 24px;
}
.card span{
    color: var(--accent);
}
.card .stats p{
    font-size: 11px;
    letter-spacing: 1px;
}
/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/